In [90]:
# Import pandas library

In [91]:
import pandas as pd

# Dataset 1

In [92]:
set = pd.read_csv(r"./CSV_Files/ebola_data_db_format.csv")

In [93]:
set.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [94]:
set.dtypes

Indicator     object
Country       object
Date          object
value        float64
dtype: object

In [124]:
# guinea has been mentioned twice
set[set.Country.isin(["Guinea"])].head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [137]:
set[set.Country.isin(["Guinea 2"])]["Date"].unique().tolist()

['2016-03-23']

In [140]:
# Guinea has data corresponding to 2014-2015
set[set.Country.isin(["Guinea"])]["Date"].unique()

array(['2015-03-10', '2015-03-06', '2015-03-05', '2015-03-04',
       '2015-03-02', '2015-02-27', '2015-02-26', '2015-02-25',
       '2015-02-23', '2015-02-20', '2015-02-19', '2015-02-18',
       '2015-02-17', '2015-02-16', '2015-02-13', '2015-02-12',
       '2015-02-11', '2015-02-10', '2015-02-06', '2015-02-05',
       '2015-02-04', '2015-02-03', '2015-02-02', '2015-01-30',
       '2015-01-29', '2015-01-28', '2015-01-27', '2015-01-26',
       '2015-01-23', '2015-01-22', '2015-01-21', '2015-01-20',
       '2015-01-19', '2015-01-16', '2015-01-15', '2015-01-14',
       '2015-01-13', '2015-01-12', '2015-01-09', '2015-01-08',
       '2015-01-07', '2015-01-06', '2015-01-05', '2015-01-02',
       '2014-12-31', '2014-12-30', '2014-12-29', '2014-12-26',
       '2014-12-24', '2014-12-23', '2014-12-22', '2014-12-17',
       '2014-12-15', '2014-12-10', '2014-12-03', '2014-12-01',
       '2014-11-26', '2014-11-21', '2014-11-19', '2014-11-14',
       '2014-11-12', '2014-11-07', '2014-11-05', '2014-10-31',
       '2014-10-29', '2014-10-25', '2014-10-22', '2014-10-17',
       '2014-10-15', '2014-10-10', '2014-10-08', '2014-10-03',
       '2014-10-01', '2014-09-26', '2014-09-24', '2014-09-22',
       '2014-09-18', '2014-09-16', '2014-09-12', '2014-09-08',
       '2014-09-05', '2014-08-29', '2015-03-11', '2015-03-12',
       '2015-03-13', '2015-03-16', '2015-03-17', '2015-03-18',
       '2015-03-20', '2015-03-23', '2015-03-24', '2015-03-25',
       '2015-03-26', '2015-03-27', '2015-04-07', '2015-04-09',
       '2015-04-13', '2015-04-14', '2015-04-15', '2015-04-16',
       '2015-04-17', '2015-04-20', '2015-04-21', '2015-04-22',
       '2015-04-23', '2015-04-24', '2015-04-27', '2015-04-28',
       '2015-04-30', '2015-05-01', '2015-05-04', '2015-05-05',
       '2015-05-06', '2015-05-07', '2015-05-08', '2015-05-11',
       '2015-05-12', '2015-05-13', '2015-05-15', '2015-05-14',
       '2015-05-19', '2015-05-18', '2015-05-20', '2015-05-21',
       '2015-05-22', '2015-05-26', '2015-05-25', '2015-05-27',
       '2015-05-28', '2015-05-29', '2015-06-01', '2015-06-02',
       '2015-06-03', '2015-06-04', '2015-06-05', '2015-06-08',
       '2015-06-09', '2015-06-10', '2015-06-11', '2015-06-12',
       '2015-06-15', '2015-06-16', '2015-06-17', '2015-06-18',
       '2015-06-19', '2015-06-22', '2015-06-23', '2015-06-24',
       '2015-06-25', '2015-06-26', '2015-06-29', '2015-06-30',
       '2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
       '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
       '2015-07-13', '2015-07-14', '2015-07-15', '2015-07-16',
       '2015-07-17', '2015-07-20', '2015-07-21', '2015-07-22',
       '2015-07-23', '2015-07-24', '2015-07-27', '2015-07-28',
       '2015-07-29', '2015-07-30', '2015-07-31', '2015-08-03',
       '2015-08-04', '2015-08-05', '2015-08-06', '2015-08-07',
       '2015-08-10', '2015-08-11', '2015-08-12', '2015-08-13',
       '2015-08-14', '2015-08-17', '2015-08-18', '2015-08-19',
       '2015-08-20', '2015-08-21', '2015-08-24', '2015-08-25',
       '2015-08-26', '2015-08-27', '2015-08-28', '2015-08-31',
       '2015-09-01', '2015-09-02', '2015-09-03', '2015-09-04',
       '2015-09-07', '2015-09-08', '2015-09-09', '2015-09-10',
       '2015-09-11', '2015-09-14', '2015-09-15', '2015-09-16',
       '2015-09-17', '2015-09-18', '2015-09-21', '2015-09-22',
       '2015-09-23', '2015-09-24', '2015-09-25', '2015-09-28',
       '2015-09-29', '2015-09-30', '2015-10-01', '2015-10-02',
       '2015-10-05', '2015-10-06', '2015-10-07', '2015-10-08',
       '2015-10-09', '2015-10-13', '2015-10-15', '2015-10-16',
       '2015-10-20', '2015-10-22', '2015-10-23', '2015-10-26',
       '2015-10-27', '2015-10-29', '2015-10-30', '2015-11-03',
       '2015-11-05', '2015-11-06', '2015-11-10', '2015-11-11',
       '2015-11-12', '2015-11-16', '2015-11-17', '2015-11-20',
       '2015-11-24', '2015-11-26', '2015-12-01', '2015-12-02',
       '2015-12-03', '2015-12-09', '2015-12-10', '2015-12-11',
       '2015-12-15', '2015-12-16', '2015-12-17', '2015-12-22',
       '2015-12-23', '2015-12-29', '2016-03-23'], dtype=object)

In [165]:
set[(set["Country"]=="Guinea 2") & (set["Date"]=='2016-03-23')]

Indicator    10
Country      10
Date         10
value        10
dtype: int64

In [143]:
set[set.Country.isin(["Guinea 2"])]["Date"].unique().tolist()

['2016-03-23']

In [96]:
set.groupby("Indicator").agg("count").loc[:,["Country"]]

                                                    Country
Indicator
Case fatality rate (CFR) of confirmed Ebola cases        19
Case fatality rate (CFR) of confirmed, probable...       19
Case fatality rate (CFR) of probable Ebola cases         18
Case fatality rate (CFR) of suspected Ebola cases        18
Cumulative number of confirmed Ebola cases             2484
Cumulative number of confirmed Ebola deaths            1648
Cumulative number of confirmed, probable and su...     2477
Cumulative number of confirmed, probable and su...     2485
Cumulative number of probable Ebola cases              2436
Cumulative number of probable Ebola deaths             1526
Cumulative number of suspected Ebola cases             2366
Cumulative number of suspected Ebola deaths            1308
Number of confirmed Ebola cases in the last 21 ...      190
Number of confirmed Ebola cases in the last 7 days        6
Number of confirmed Ebola deaths in the last 21...       14
Number of confirmed, probable and suspected Ebo...      190
Number of confirmed, probable and suspected Ebo...        6
Number of confirmed, probable and suspected Ebo...       14
Number of probable Ebola cases in the last 21 days       52
Number of probable Ebola cases in the last 7 days         6
Number of probable Ebola deaths in the last 21 ...       13
Number of suspected Ebola cases in the last 21 ...       39
Number of suspected Ebola cases in the last 7 days        6
Number of suspected Ebola deaths in the last 21...       13
Proportion of confirmed Ebola cases that are fr...       40
Proportion of confirmed Ebola cases that are fr...        6
Proportion of confirmed Ebola deaths that are f...       13
Proportion of confirmed, probable and suspected...       41
Proportion of confirmed, probable and suspected...        6
Proportion of confirmed, probable and suspected...       13
Proportion of probable Ebola cases that are fro...       40
Proportion of probable Ebola cases that are fro...        6
Proportion of probable Ebola deaths that are fr...       12
Proportion of suspected Ebola cases that are fr...       39
Proportion of suspected Ebola cases that are fr...        6
Proportion of suspected Ebola deaths that are f...       10

# Dataset 2: Only Guinea (Similar sets are available for Liberia and Seirra Leone)

In [97]:
import pandas as pd

In [98]:
#import numpy as np

In [99]:
guinea = pd.read_csv(r"./CSV_Files/Guinea2016-05-11.csv")

In [100]:
guinea.head()

,Country,Age group,Gender,Location,Ebola measure,Case definition,Ebola data source,Epi week,Indicator type,Data package ID,Data as of,Outbreak identifier,Display Value,Numeric,Low,High,Comments
0,Guinea,NaN,NaN,FORECARIAH,Number of cases,Confirmed,Situation report,25 to 31 January 2016 (2016-W04),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN
1,Guinea,NaN,NaN,BEYLA,Number of cases,Probable,Situation report,08 to 14 February 2016 (2016-W06),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN
2,Guinea,NaN,NaN,GUECKEDOU,Number of cases,Probable,Situation report,22 to 28 September 2014 (2014-W39),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN
3,Guinea,NaN,NaN,KINDIA,Number of cases,Confirmed,Situation report,08 to 14 September 2014 (2014-W37),New,Data package 2016-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guinea,NaN,NaN,TOUGUE,Number of cases,Confirmed,Situation report,19 to 25 January 2015 (2015-W04),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN

In [101]:
guinea.dtypes

Country                 object
Age group               object
Gender                  object
Location                object
Ebola measure           object
Case definition         object
Ebola data source       object
Epi week                object
Indicator type          object
Data package ID         object
Data as of              object
Outbreak identifier     object
Display Value           object
Numeric                float64
Low                    float64
High                   float64
Comments                object
dtype: object

In [102]:
guinea.loc[guinea.Comments.notnull(), "Comments"].count()

24

In [106]:
# get the unique values in each of the columns
for col in guinea.columns:  
    print (col)
    print (guinea[col].unique())
    print ("\n")

Country
['Guinea']


Age group
[nan '45+' 'All ages (total)' '15-44' '0-14']


Gender
[nan 'Both sexes' 'Male' 'Female']


Location
['FORECARIAH' 'BEYLA' 'GUECKEDOU' 'KINDIA' 'TOUGUE' 'LELOUMA' 'DALABA'
 'DUBREKA' 'MACENTA' "N'ZEREKORE" 'COYAH' 'KANKAN' 'LABE' 'SIGUIRI' 'FRIA'
 'DINGUIRAYE' 'LOLA' 'YOMOU' 'FARANAH' 'TELIMELE' 'GAOUAL' 'CONAKRY'
 'KISSIDOUGOU' 'KEROUANE' 'KOUBIA' 'MAMOU' 'BOKE' 'PITA' 'KOUROUSSA'
 'KOUNDARA' 'MALI' 'BOFFA' nan 'DABOLA']


Ebola measure
['Number of cases' 'Number of deaths']


Case definition
['Confirmed' 'Probable' 'Total' 'Suspected']


Ebola data source
['Situation report' 'Patient database' nan]


Epi week
['25 to 31 January 2016 (2016-W04)' '08 to 14 February 2016 (2016-W06)'
 '22 to 28 September 2014 (2014-W39)' '08 to 14 September 2014 (2014-W37)'
 '19 to 25 January 2015 (2015-W04)'
 '28 September to 04 October 2015 (2015-W40)'
 '14 to 20 December 2015 (2015-W51)'
 '27 October to 09 November 2014 (2014-W45)'
 '23 to 29 June 2014 (2014-W26)' '13 to 19 January 2014 (2014-W03)'
 '08 to 14 December 2014 (2014-W50)' '02 to 08 May 2016 (2016-W18)'
 '09 to 15 November 2015 (2015-W46)' '25 April to 01 May 2016 (2016-W17)'
 '20 to 26 October 2014 (2014-W43)' '19 to 25 May 2014 (2014-W21)'
 '09 to 15 June 2014 (2014-W24)' '25 to 31 May 2015 (2015-W22)'
 '15 to 21 June 2015 (2015-W25)' '16 to 22 November 2015 (2015-W47)'
 '17 to 23 February 2014 (2014-W08)' '24 to 30 March 2014 (2014-W13)'
 '27 January to 02 February 2014 (2014-W05)' '04 to 10 May 2015 (2015-W19)'
 '01 to 07 December 2014 (2014-W49)' '02 to 08 February 2015 (2015-W06)'
 '29 September to 05 October 2014 (2014-W40)'
 '29 June to 05 July 2015 (2015-W27)' '10 to 16 March 2014 (2014-W11)'
 '13 to 19 October 2014 (2014-W42)'
 '29 February to 06 March 2016 (2016-W09)'
 '04 to 10 January 2016 (2016-W01)' '27 April to 03 May 2015 (2015-W18)'
 '23 to 29 November 2015 (2015-W48)' '10 to 16 November 2014 (2014-W46)'
 '16 to 22 March 2015 (2015-W12)' '20 to 26 July 2015 (2015-W30)'
 '11 to 17 April 2016 (2016-W15)' '11 to 17 May 2015 (2015-W20)'
 '18 to 24 April 2016 (2016-W16)' '26 May to 01 June 2014 (2014-W22)'
 '05 to 11 May 2014 (2014-W19)' '03 to 09 March 2014 (2014-W10)'
 '15 to 21 September 2014 (2014-W38)' '30 June to 06 July 2014 (2014-W27)'
 '24 to 30 August 2015 (2015-W35)'
 '26 October to 01 November 2015 (2015-W44)'
 '30 November to 06 December 2015 (2015-W49)'
 '28 April to 04 May 2014 (2014-W18)' '04 to 10 August 2014 (2014-W32)'
 '21 to 27 December 2015 (2015-W52)' '19 to 25 October 2015 (2015-W43)'
 '29 December 2014 to 04 January 2015 (2015-W01)'
 '07 to 13 September 2015 (2015-W37)' '15 to 21 December 2014 (2014-W51)'
 '21 to 27 March 2016 (2016-W12)' '28 July to 03 August 2014 (2014-W31)'
 '24 February to 02 March 2014 (2014-W09)' '20 to 26 April 2015 (2015-W17)'
 '14 to 20 March 2016 (2016-W11)' '14 to 20 July 2014 (2014-W29)'
 '01 to 07 June 2015 (2015-W23)' '25 to 31 August 2014 (2014-W35)'
 '31 March to 06 April 2014 (2014-W14)'
 '14 to 20 September 2015 (2015-W38)' '14 to 20 April 2014 (2014-W16)'
 '21 to 27 September 2015 (2015-W39)' '06 to 12 October 2014 (2014-W41)'
 '10 to 16 August 2015 (2015-W33)' '30 March to 05 April 2015 (2015-W14)'
 '11 to 17 January 2016 (2016-W02)' '22 to 28 June 2015 (2015-W26)'
 '10 to 16 February 2014 (2014-W07)'
 '26 January to 01 February 2015 (2015-W05)'
 '23 February to 01 March 2015 (2015-W09)' '16 to 22 June 2014 (2014-W25)'
 '27 July to 02 August 2015 (2015-W31)' '09 to 15 March 2015 (2015-W11)'
 '06 to 12 April 2015 (2015-W15)' '17 to 23 November 2014 (2014-W47)'
 '17 to 23 March 2014 (2014-W12)' '24 to 30 November 2014 (2014-W48)'
 '09 to 15 February 2015 (2015-W07)' '03 to 09 February 2014 (2014-W06)'
 '02 to 08 June 2014 (2014-W23)' '18 to 24 January 2016 (2016-W03)'
 '11 to 17 August 2014 (2014-W33)' '28 March to 03 April 2016 (2016-W13)'
 '05 to 11 October 2015 (2015-W41)' '21 to 27 April 2014 (2014-W17)'
 '02 to 08 March 2015 (2015-W10)' '18 to 24 August 2014 (2014-W34)'
 '05 to 11 January 2015 (2015-W02)' '21 to 27 July 2014 (2014-W30)'
 '06 to 12 July 2015 (2015-W28)'
 '31 August to 06 September 2015 (2015-W36)'
 '06 to 12 January 2014 (2014-W02)' '03 to 09 August 2015 (2015-W32)'
 '08 to 14 June 2015 (2015-W24)' '20 to 26 January 2014 (2014-W04)'
 '04 to 10 April 2016 (2016-W14)' '12 to 18 May 2014 (2014-W20)'
 '01 to 07 February 2016 (2016-W05)' '16 to 22 February 2015 (2015-W08)'
 '12 to 18 January 2015 (2015-W03)' '02 to 08 November 2015 (2015-W45)'
 '22 to 28 February 2016 (2016-W08)' '07 to 13 July 2014 (2014-W28)'
 '28 December 2015 to 03 January 2016 (2015-W53)'
 '30 December 2013 to 05 January 2014 (2014-W01)'
 '17 to 23 August 2015 (2015-W34)' '15 to 21 February 2016 (2016-W07)'
 '07 to 13 March 2016 (2016-W10)' '13 to 19 April 2015 (2015-W16)'
 '12 to 18 October 2015 (2015-W42)' '23 to 29 March 2015 (2015-W13)'
 '01 to 07 September 2014 (2014-W36)' '18 to 24 May 2015 (2015-W21)'
 '27 October to 02 November 2014 (2014-W44)'
 '07 to 13 April 2014 (2014-W15)' nan '07 to 13 December 2015 (2015-W50)'
 '22 to 28 December 2014 (2014-W52)' '13 to 19 July 2015 (2015-W29)']


Indicator type
['New' 'Cumulative' 'In past 21 days']


Data package ID
['Data package 2016-05-11']


Data as of
[nan '28 December 2015' '8 May 2016']


Outbreak identifier
[nan 'EVD West Africa 2014' 'EVD Guinea 2016']


Display Value
['0' nan '7' '1' '4' '10' '3' '13' '11' '37' '6' '8' '24' '9' '5' '39' '12'
 '2' '18' '22' '76' '16' '21' '2536' '3351' '53' '110' '861' '27' '50' '17'
 '95' '29' 'Not reported.' '77' '31' '19' '79' '30' '15' '169' '1599' '14'
 '137' '69' '75' '58' '23' '25' '52' '65' '-' '28' '35' '96' '45' '148'
 '40' '115' '101' '149' '93' '1904' '32' '34' '94' '67' '1747' '42' '47'
 '26' '82' '20' '74' '2083' '38' '81' '55' '85' '57' '145' '59' '121' '36'
 '3804' '153' '56' '43' '102' '156' '33' '51' '453' '103' '537'
 'Data not available.' '90' '117' '64' '131' '44' '41']


Numeric
[  0.00000000e+00              nan   7.00000000e+00   1.00000000e+00
   4.00000000e+00   1.00000000e+01   3.00000000e+00   1.30000000e+01
   1.10000000e+01   3.70000000e+01   6.00000000e+00   8.00000000e+00
   2.40000000e+01   9.00000000e+00   5.00000000e+00   3.90000000e+01
   1.20000000e+01   2.00000000e+00   1.80000000e+01   2.20000000e+01
   7.60000000e+01   1.60000000e+01   2.10000000e+01   2.53600000e+03
   3.35100000e+03   5.30000000e+01   1.10000000e+02   8.61000000e+02
   2.70000000e+01   5.00000000e+01   1.70000000e+01   9.50000000e+01
   2.90000000e+01   7.70000000e+01   3.10000000e+01   1.90000000e+01
   7.90000000e+01   3.00000000e+01   1.50000000e+01   1.69000000e+02
   1.59900000e+03   1.40000000e+01   1.37000000e+02   6.90000000e+01
   7.50000000e+01   5.80000000e+01   2.30000000e+01   2.50000000e+01
   5.20000000e+01   6.50000000e+01   2.80000000e+01   3.50000000e+01
   9.60000000e+01   4.50000000e+01   1.48000000e+02   4.00000000e+01
   1.15000000e+02   1.01000000e+02   1.49000000e+02   9.30000000e+01
   1.90400000e+03   3.20000000e+01   3.40000000e+01   9.40000000e+01
   6.70000000e+01   1.74700000e+03   4.20000000e+01   4.70000000e+01
   2.60000000e+01   8.20000000e+01   2.00000000e+01   7.40000000e+01
   2.08300000e+03   3.80000000e+01   8.10000000e+01   5.50000000e+01
   8.50000000e+01   5.70000000e+01   1.45000000e+02   5.90000000e+01
   1.21000000e+02   3.60000000e+01   3.80400000e+03   1.53000000e+02
   5.60000000e+01   4.30000000e+01   1.02000000e+02   1.56000000e+02
   3.30000000e+01   5.10000000e+01   4.53000000e+02   1.03000000e+02
   5.37000000e+02   9.00000000e+01   1.17000000e+02   6.40000000e+01
   1.31000000e+02   4.40000000e+01   4.10000000e+01]


Low
[ nan]


High
[ nan]


Comments
[nan
 'The outbreak in Guinea was declared over on 29 December 2015. Due to ongoing surveillance and retrospective validation of cases and deaths, these totals may be subject to revision.'
 'Not reported due to the high proportion of probable and suspected cases that are reclassified.'
 'Not applicable.' 'Cases and deaths reported after 28 December 2015. '
 'Data not available.']

In [118]:
# number of unique values in each column
for col in guinea.columns:  
    print (col + ": {}".format(guinea[col].unique().size))
    #print ("\n")

Country: 1
Age group: 5
Gender: 4
Location: 34
Ebola measure: 2
Case definition: 4
Ebola data source: 3
Epi week: 124
Indicator type: 3
Data package ID: 1
Data as of: 3
Outbreak identifier: 3
Display Value: 102
Numeric: 99
Low: 1
High: 1
Comments: 6